<%- include ('../includes/head.ejs') %>

<body>
    <header class = "main-header">
        <%- include ('../includes/navigation.ejs') %>
    </header>
    <main>
        <% if(products.length>0) {%>
            <ul class = "cart_item-list">
                <% products.forEach(p => { %>
                    <li class = "cart_item">
                       <h1><%= p.title%></h1>
                        <h2>Quantity: <%= p.cartItem.quantity %></h2>
                        <form action = "/cart-delete-item" method = "post">
                            <input type = "hidden" value = "<%= p.id%>" name = "productId">
                            <button class = "btn danger" type = "submit"> Delete</button>
                        </form>
                    </li>
                <%})%>
            </ul>
            <hr>
            <div>
                <form action = "/create-order" method = "POST">
                    <button type = "submit" class = "btn">Order Now!</button>
                </form>
            </div>
        <%} else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>
<%- include ('../includes/end.ejs') %>